@import "old"
.site-footer__nav-item a
    line-height: 17px
    color: #1b3281
    cursor: pointer
.site-header__nav-item-title, .site-header__last-submenu-title
    color: #212529
.mobile-menu__nav-item a
    color: #212529
.site-header__search-input
    transition: all 0.3s
    visibility: visible
    opacity: 0
.site-header__search:hover
    .site-header__search-input
        opacity: 1
.site-header__search-input:focus
    opacity: 1
.site-header__nav-item:hover .site-header__submenu-overlay
    display: none
.site-header__first-submenu::before
    content: ""
    display: block
    width: 300vw
    height: 100%
    top: 0
    left: -100vw
    background-color: #fff
    position: absolute
.site-header__first-submenu
    top: 38px
.fullpage
    overflow: hidden
.site-header__first-submenu:after
    z-index: 0
    background-color: transparent
    width: 100%
    border-left: 1px solid #1b3281
    border-right: 1px solid #1b3281
    pointer-events: none
.site-header__last-submenu
    display: block
    opacity: 0
    top: 50px
    transition: all 0.3s
.site-header__first-submenu-item:hover .site-header__last-submenu
    opacity: 1
    top: 0
.site-header__last-submenu-item
    position: relative
    left: 0
    transition: all 0.3s
    &:hover
        left: 10px
.site-footer__nav-item
    position: relative
    left: 0
    transition: all 0.3s
    &:hover
        left: 10px
.our-partners__slide-img-wrapper
    display: flex
    align-items: center
    justify-content: center
    height: 83px
    img
        max-height: 100%
.site-footer__wrapper
    max-width: 100%
.site-header__top
    padding-bottom: 33px
    border-bottom: 1px solid #CDCDCD
.site-header__search-input
    visibility: visible
    width: 491px
    opacity: 1
.site-header__search button
    background-color: transparent
    border: 0
.site-header__search button:focus
    outline: none
.site-header__top-right
    grid-gap: 20px
.site-header__phone
    margin: 0 20px
.site-header__call
    color: #1B3281
    font-size: 14px
    line-height: 135.9%
.site-header__nav
    padding: 20px 0
.site-header__nav-item
    width: auto
.site-header__nav-item-title
    text-transform: uppercase
    svg
        margin-left: 9px
    &::before
        display: none
.hero
    padding-top: 0
.hero__slider-wrapper
    background: #1B3281 url("../img/ab-svg.svg") left center no-repeat
.hero__slider-wrapper
    max-width: 100%
.hero .ab-top__img
    z-index: 2
.hero__slide
    height: 460px
@import "interface"
@import "blog"
@import "contacts"
@import "smalls"
@import "invest"
@import "resch"
@import "about"
@import "manuf"

.ninvest
    .invest__top
        margin-bottom: 0
    &__descr
        margin-bottom: 30px
        max-width: 550px
    &__text
        font-size: 14px
        line-height: 135.9%
        color: #FFFFFF
        margin: 0
        max-width: 460px
    &-blag
        &__cont
            width: 370px
        &__img
            width: calc(100% - 415px)
            clip-path: polygon(0 0, 100% 0, 100% 100%, 185px 100%, 0 calc(100% - 155px))
    &-bot
        &__subtitle
            font-weight: 600
            font-size: 20px
            line-height: 135.9%
            color: #FFFFFF
            margin-bottom: 10px
            max-width: 490px
    &-partn
        &__wrap
            display: flex
            align-items: center
            justify-content: space-between
            grid-gap: 15px
            padding-top: 40px
    &-feat
        margin-bottom: 30px
        padding-top: 90px
    &-accel
        padding-top: 90px
        &__wrap
            display: flex
            justify-content: center
            align-items: center
            position: relative
            height: 800px
            padding-bottom: 100px
            & + .researches__content
                display: none
            .dark
                transition: all 0.5s
            &:hover
                .dark
                    &.strk
                        stroke: #CDCDCD
                    &.fill
                        fill: #CDCDCD
                .accel__el
                    color: #CDCDCD
                    span
                        color: #CDCDCD
        &__el
            position: absolute
            width: 290px
            display: flex
            grid-gap: 20px
            align-items: flex-end
            flex-direction: column-reverse
            transition: all 0.5s
            span
                font-weight: 600
                font-size: 30px
                line-height: 30px
                color: #1B3281
                transition: all 0.5s
            &:nth-child(9)
                top: 198px
                text-align: right
                width: 240px
                left: 0
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &+svg
                        .dark-9
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
            &:nth-child(8)
                top: 416px
                text-align: right
                width: 240px
                left: 0
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &~svg
                        .dark-8
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
            &:nth-child(7)
                top: 635px
                text-align: right
                width: 240px
                left: 0
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &~svg
                        .dark-7
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
            &:nth-child(6)
                top: 635px
                align-items: flex-start
                left: 48%
                width: 240px
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &~svg
                        .dark-6
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
            &:nth-child(5)
                top: 635px
                align-items: flex-start
                width: 250px
                left: auto
                right: 0
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &~svg
                        .dark-5
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
            &:nth-child(2)
                top: 0
                align-items: flex-start
                width: 250px
                right: 0
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &~svg
                        .dark-2
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
            &:nth-child(3)
                top: 200px
                align-items: flex-start
                width: 250px
                right: 0
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &~svg
                        .dark-3
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
            &:nth-child(1)
                top: 0
                text-align: right
                right: 47%
                left: auto
                width: 230px
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &~svg
                        .dark-1
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
            &:nth-child(4)
                top: 415px
                align-items: flex-start
                width: 250px
                right: 0
                &:hover
                    color: #000
                    span
                        color: #1B3281
                    &~svg
                        .dark-4
                            &.strk
                                stroke: #1B3281
                            &.fill
                                fill: #1B3281
@media(max-width: 1439px)
    .hero .ab-top__img
        width: 620px
@media(max-width: 1199px)
    .hero .ab-top__img
        width: 420px
    .site-header__search-input
        width: 320px
    .ninvest
        &-accel__wrap
            svg
                transform: scale(0.7)
@media(max-width: 991px)
    .our-partners__slide-img-wrapper
        max-height: 83px
    .site-header__top
        border-bottom: 0
    .ninvest
        &-partn
            &__wrap
                flex-wrap: wrap
        &-blag
            &__img
                width: 100%
        &-accel__wrap
            display: none
            &+ .researches__content
                display: grid
@media(max-width: 575px)
    .hero .ab-top__img
        width: 90%
    .site-header
        &__call, &__lk
            display: none
    .our-partners__slide-img-wrapper
        width: 80%
    .ninvest
        &-partn
            &__wrap
                grid-gap: 20px 0
            &__block
                width: 50%
                display: flex
                align-items: center
                justify-content: center
                img
                    max-width: 90%
                    max-height: 90%
        &-blag
            &__cont
                width: 100%
            &__wrap
                grid-gap: 40px
            &__img
                height: 210px
                clip-path: polygon(0 0, 100% 0, 100% 100%, 115px 100%, 0 calc(100% - 100px))
